{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<div>
<h1>Par entreprise</h1>
{% for company in companies %}
    <h2>{{ company.title }} : {{ company.euroSum }} euros {{ "%02d"|format(company.centSum) }} cents</h2>
{% endfor %}
<h1>Par type de charge</h1>
{% for workType in workTypes %}
    <h2>{{ workType.title }} : {{ workType.euroSum }} euros {{ "%02d"|format(workType.centSum) }} cents</h2>
{% endfor %}
</div>
{% endblock %}
